<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="ca.jacob.cs6735.DataUtil" level="debug"></logger>

    <logger name="ca.jacob.jml.Model" level="info"></logger>
    <logger name="ca.jacob.jml.KFold" level="info"></logger>

    <logger name="ca.jacob.jml.tree.Node" level="warn"></logger>
    <logger name="ca.jacob.jml.tree.Children" level="info"></logger>

    <logger name="ca.jacob.jml.bayes.NaiveBayesModel" level="info"></logger>
    <logger name="ca.jacob.jml.bayes.NaiveBayes" level="info"></logger>
    <logger name="ca.jacob.jml.bayes.ClassSummary" level="info"></logger>
    <logger name="ca.jacob.jml.bayes.DiscreteAttribute" level="info"></logger>

    <logger name="ca.jacob.jml.ensemble.AdaBoostModel" level="info"></logger>
    <logger name="ca.jacob.jml.ensemble.AdaBoost" level="info"></logger>
    <logger name="ca.jacob.jml.ensemble.MultiAdaBoost" level="info"></logger>
    <logger name="ca.jacob.jml.ensemble.MultiAdaBoostModel" level="info"></logger>
    <logger name="ca.jacob.jml.ensemble.RandomForestModel" level="info"></logger>
    <logger name="ca.jacob.jml.ensemble.RandomForest" level="info"></logger>

    <logger name="ca.jacob.jml.neighbors.KNNModel" level="info"></logger>

    <logger name="ca.jacob.jml.Util" level="info"></logger>
    <logger name="ca.jacob.jml.math.Vector" level="info"></logger>
    <logger name="ca.jacob.jml.DataSet" level="info"></logger>

    <logger name="ca.jacob.cs6735.MathTest" level="info"></logger>
    <logger name="ca.jacob.cs6735.AdaBoostTest" level="debug"></logger>
    <logger name="ca.jacob.cs6735" level="info"></logger>

    <root level="warn">
        <appender-ref ref="STDOUT" />
    </root>
</configuration>